@import '../../constants/colors';

.wrapper {
  display: flex;
  flex-direction: column;

  &__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: $COLOR_GRAY_50;

    &.center {
      text-align: center;
    }
  }
}

.input {
  background: transparent;
  border: 1px solid $COLOR_GRAY_70;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  height: 48px;
  margin-top: 4px;
  color: $COLOR_GRAY_50;
  outline: none;
}

.price {
  width: 160px;
  border: none;
  border-bottom: 1px solid $COLOR_GRAY_70;
  border-radius: 0;
  text-align: center;
  color: $COLOR_WHITE;
  outline: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.settings {
  margin-top: 0;
  height: 25px;
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}
.toggleSwitch input[type="checkbox"] {
  display: none;
}
.toggleSwitch .switch {
  position: absolute;
  cursor: pointer;
  background-color: $COLOR_GRAY_60;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggleSwitch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: $COLOR_WHITE;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggleSwitch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(20px);
}
.toggleSwitch input[type="checkbox"]:checked + .switch {
  background-color: #1cf661;
}
