.container {
  width: 100%;
  height: 100vh;
  padding: 50px 25px 30px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__content {
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  &__btns {
    width: 100%;

    & button:nth-child(2) {
      margin: 16px 0;
    }
  }

  .footer__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #666680;
  }
}
