@import '../../constants/colors';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  border-radius: 999px;
  border-color: transparent;
  font-size: 14px;
  text-align: center;
  cursor: pointer;

  &__content {
    display: flex;
  }

  svg {
    width: 16px;
    height: 16px;
  }

  &:active {
    transform: scale(0.95);
    transition: all 200ms;
  }

  &__text  {
    color: $COLOR_WHITE;
    margin-left: 8px;
    font-weight: 600;
    line-height: 20px;
  }

  .colorBlack {
    color: $COLOR_GRAY_80;
  }
}

.coral {
  background: radial-gradient(100% 100% at 50% 100%, rgba(255, 255, 255, 0) 43.25%, rgba(255, 127, 55, 0.5) 100%), $COLOR_ACCENT_100;
  box-shadow: 0 8px 25px rgba(255, 121, 102, 0.5);
}

.white {
  background: radial-gradient(100% 100% at 50% 100%, rgba(255, 255, 255, 0) 43.25%, rgba(255, 255, 255, 0.5) 100%), $COLOR_WHITE;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.25);
}

.black {
  background: radial-gradient(100% 100% at 50% 100%, rgba(255, 255, 255, 0) 43.25%, rgba(0, 0, 0, 0.25) 100%), #000000;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.blue {
  background: radial-gradient(100% 100% at 50% 100%, rgba(255, 255, 255, 0) 43.25%, rgba(23, 113, 230, 0.5) 100%), #1771E6;
  box-shadow: 0 8px 25px rgba(23, 113, 230, 0.5);
}

.darkGray {
  background: $COLOR_GRAY_TRANSPARENT;
}

.smallGray {
  background: $COLOR_GRAY_TRANSPARENT;
  font-size: 12px;
  padding: 8px 12px;
  border: 1px solid;
  border-radius: 16px;
  border-image-source: linear-gradient(126.58deg, rgba(255, 255, 255, 0.15) 23.2%, rgba(255, 255, 255, 0) 71.3%);

  &.inactive {
    background: transparent;
    color: $COLOR_GRAY_30;
  }

  &.active {
    background: $COLOR_GRAY_TRANSPARENT;
    color: $COLOR_GRAY_30;
  }
}
