@import '../../constants/colors';

.container {
  width: 232px;
  height: 349px;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background:
    linear-gradient(#252530, #252530 100%) padding-box,
    linear-gradient(114.85deg, rgba(207, 207, 252, 0.15) 0%, rgba(207, 207, 252, 0) 65.83%) border-box;
  color: #313149;
  border: 1px solid transparent;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: -45%;
    left: -20%;
    width: 379px;
    height: 379px;
    border-radius: 50%;
    background: linear-gradient(126.51deg, rgba(255, 255, 255, 0.1) 15.96%, rgba(255, 255, 255, 0) 51.85%);
    opacity: 0.5;
  }

  &::before {
    content: '';
    position: absolute;
    top: -20%;
    right: -55%;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: $COLOR_GRAY_TRANSPARENT;
    opacity: 0.5;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__text {
      margin-top: 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $COLOR_WHITE;
    }

    svg {
      width: 56px;
      height: 34px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: $COLOR_GRAY_20;
    }

    &__num {
      margin-top: 8px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $COLOR_WHITE;
    }

    &__date {
      margin: 8px 0 16px 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: $COLOR_WHITE;
    }

    svg {
      width: 40px;
      height: 28px;
    }
  }
}
