@import '../../constants/colors';

.wrapper {
  padding: 24px;

  .title {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $COLOR_GRAY_30;

    & button {
      position: absolute;
      left: 24px;
    }
  }

  .user {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;

    &__avatar {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      display: inline-block;
      margin: 0 auto;
    }

    &__name {
      margin-top: 8px;
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
    }

    &__email {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.2px;
      color: $COLOR_GRAY_30;
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      padding: 8px 12px;
      background: $COLOR_GRAY_TRANSPARENT;
      border-radius: 16px;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: $COLOR_WHITE;
      background:
        linear-gradient($COLOR_GRAY_TRANSPARENT,$COLOR_GRAY_TRANSPARENT 100%) padding-box,
        linear-gradient(114.85deg, rgba(207, 207, 252, 0.15) 0%, rgba(207, 207, 252, 0) 65.83%) border-box;
      border: 1px solid transparent;
    }
  }

  .content {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    & :first-child {
      margin-top: 0;
    }

    &__group {
      margin-bottom: 24px;
      &_field{
        margin-top: 8px;
        padding: 16px 20px;
        background: $COLOR_GRAY_GRADIENT;
        backdrop-filter: blur(10px);
        border-radius: 16px;
      }
    }
  }
}
