@import '../../constants/colors';

.calendar {
  overflow: hidden;
  background: rgba(53, 53, 66, 0.5);
  border-radius: 0 0 24px 24px;
  padding: 32px 24px 24px 24px;

  &__title {
    font-weight: 700;
    font-size: 40px;
    display: inline-block;
    margin-bottom: 22px;
    line-height: 40px;
    color: $COLOR_WHITE;
  }

  &__select_info {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $COLOR_GRAY_30;
  }

  &__select_wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      right: 5px;
      transform: translate(-50%, -50%);

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }

  select {
    width: 100px;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 8px 12px;
    font-family: inherit;
    cursor: inherit;
    outline: none;
    position: relative;

    option {
      background-color: $COLOR_GRAY_60;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      margin: 8px 12px;
      color: $COLOR_WHITE;
    }
  }


  &__select {
    background: $COLOR_GRAY_TRANSPARENT;
    border-radius: 16px;
    background:
      linear-gradient($COLOR_GRAY_GRADIENT, $COLOR_GRAY_GRADIENT 100%) padding-box,
      linear-gradient(114.85deg, rgba(207, 207, 252, 0.15) 0%, rgba(207, 207, 252, 0) 65.83%) border-box;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $COLOR_WHITE;
  }

  &__list {
    display: flex;
    width: 100%;
    margin-top: 30px;
    overflow: auto;
    -ms-overflow-style: none;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 103px;
    margin-left: 8px;
    padding: 8px 10px;
    border-radius: 16px;
    background:
      linear-gradient($COLOR_GRAY_GRADIENT,$COLOR_GRAY_GRADIENT 100%) padding-box,
      linear-gradient(114.85deg, rgba(207, 207, 252, 0.15) 0%, rgba(207, 207, 252, 0) 65.83%) border-box;

    &:active {
      transform: scale(0.9);
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .active {
    background: $COLOR_GRAY_60;
    backdrop-filter: blur(10px);

    &::before {
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      bottom: 16px;
      background: $COLOR_ACCENT_100;
      border-radius: 50%;
    }
  }

  &__number {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: $COLOR_WHITE;
  }

  &__day {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: $COLOR_GRAY_30;
  }
}
