@import '../../constants/colors';

.btn {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: $COLOR_GRAY_30;
}

.content {
  height: 25px;
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;

  &__title {
    display: flex;
    align-items: center;
  }

  &__name {
    margin-left: 20px;
    color: $COLOR_WHITE;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }

  select {
    background: transparent;
    border: 1px solid $COLOR_GRAY_70;
    backdrop-filter: blur(10px);
    border-radius: 16px;
    height: 25px;
    margin-top: 4px;
    color: $COLOR_GRAY_50;
  }


  svg {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }
}
