.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__label {
    display: inline-block;
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #666680;
  }
}
.checkbox-input {
  appearance: none;

  &:checked + .checkbox {
    background-image: url('../../assets/icons/check.svg');
    transition: all 150ms;
  }
}

.checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid #353542;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  display: inline-block;
  background: transparent;
  margin-right: 4px;
}