.wrapper {
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}

.inner {
  display: flex;
  transition: transform 0.3s;
}

  .carousel-item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: grab;
    outline: none;


    &:active {
      transform: scale(0.9);
    }

  svg {
    width: 95px;
    height: 95px;
    margin-bottom: 20px;
  }
}
