.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  &__price {
    margin: 0 36px;
  }

  &__btn {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(78, 78, 97, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 16px;

    svg {
      width: 48px;
      height: 48px;
    }
  }
}
