.carousel {
  width: 282px;
  height: 400px;
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: 0 auto;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 20px;
    width: 232px;
    height: 349px;
    margin-left: 30px;
    background: linear-gradient(180deg, rgba(28, 28, 35, 0) 0%, rgba(28, 28, 35, 0.75) 100%), rgba(78, 78, 97, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    transform: rotate(4deg);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 15px;
    width: 232px;
    height: 349px;
    margin-left: 30px;
    background: linear-gradient(180deg, rgba(28, 28, 35, 0) 0%, rgba(28, 28, 35, 0.75) 100%), rgba(78, 78, 97, 0.35);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    transform: rotate(8deg);
    z-index: -1;
  }

  .inner {
    display: flex;
    white-space: nowrap;
    transition: transform 0.3s;
    cursor: grab;

    &__card {
      margin-left: 50px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
