@import '../../constants/colors';

.container {
  height: 100vh;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: $COLOR_GRAY_30;
  position: relative;

  .footer {
    margin: 0 25px;

    &__price {
      margin: 25px 0 39px 0;
    }
  }

  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: $COLOR_WHITE;
  }

  &__btn {
    position: absolute;
    top: 32px;
    left: 24px;
  }

  .carousel {
    padding: 0;
  }
}

.portal {
  padding: 24px;
  background-color: $COLOR_GRAY_80;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
