$strength-colors: (
  orangered,
  orange,
  yellowgreen,
  green
);
$strength-gap: 3px;


.strength-meter {
  position: relative;
  height: 4px;
  background: #666680;
  margin: 7px 0;
  border-radius: 9px;
  overflow: hidden;
  &:before,
  &:after {
    content: "";
    height: inherit;
    background: transparent;
    display: block;
    border-color: #fff;
    border-style: solid;
    border-width: 0 $strength-gap 0 0;
    position: absolute;
    width: calc(25% - #{$strength-gap});
    z-index: 2;
  }

  &:after {
    right: calc(25% - #{$strength-gap});
    border-width: 0 $strength-gap 0;
  }
}

.strength-meter-fill {
  background: transparent;
  height: inherit;
  position: absolute;
  width: 0;
  transition: width 0.5s ease-in-out, background 0.25s;
  @for $i from 1 through 4 {
    &[data-strength="#{$i}"] {
      width: (25% * $i);
      background: nth($strength-colors, $i);
    }
  }
}
